colours { #010101
         #533D25
         #C1A986
         #576C31
         #564E0F
         #CC8745
         #FFFFFF
         #fff59d
}

body {
  background-color: #C1A986     ;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: 212121;
}
::-webkit-input-placeholder { /* Chrome */
  color: #708090;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #708090;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #708090;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #708090;
  opacity: 1;
}
.input textarea{
    color: #010101;
}
.input {
  display: block;
  margin: auto;
  width: 70%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  padding: 1em;
  background-color: #C1A986
}

.input:focus {
  outline: solid 1px black;
}
.stepper{
  padding: 1.5em;
  margin: auto;
  width: 50%;
  background-color: #fff59d
}
.navBar{
  margin: auto;
  margin: 3 em;
  padding: 2em;
  width: 40%;
  background-color: #fff59d;
}

a #maintitle {
  color: #576C31;
  padding-top: 5%;
  border-radius: 25%;
  border-width: medium;
  border-color: #576C31;
  border-style: solid;
  overflow: hidden;
}

#mainTitleText {
  color: #FEFEFE
  width: 65%;
  float: left;
  padding-left: 15%;
  font-size: 4em;
}

#maintitle img {
  margin-top: 3%;
  width: 14%;
  padding-right: 5%;
  padding-bottom: 2%
}
button{
  color: #FEFEFE;
  font-size: 1em;
  background-color: #533D25;
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 1em;
  border: none
}
.homepage{
  width: 50%;
  padding: 5em;
  padding-top: 2em;
  margin: auto;
  text-align: center;
  background-color: #fff59d
}
.spinner{
  position: absolute;
  right: 45%;
  top: 50%;
}
