colours { #010101
         #533D25
         #C1A986
         #576C31
         #564E0F
         #CC8745
         #FFFFFF
         #fff59d
}

body {
  background-color: #FEFEFE     ;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: 212121;
}
.navBar{
  margin: auto;
  margin: 3 em;
  padding: 2em;
  width: 40%;
  background-color: #fff59d;
}
h1 {
  font-size: 2em;
}
#mainTitleText {
  width: 65%;
  float: left;
  padding-left: 5%
}
#maintitle {
  font-size: 2em;
  padding-bottom: 5%;
  padding-top: 5%;
  border-radius: 25%;
  border-width: medium;
  border-color: #576C31;
  border-style: solid;
}

#maintitle img {
  width: 12%;
  padding-top: 1em;
  padding-right: 5%
}
button{
  color: white;
  font-size: 1em;
  background-color: #C1A986;
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 1em;
  border: none
}
.homepage{
  width: 50%;
  padding: 5em;
  padding-top: 2em;
  margin: auto;
  text-align: center;
}
